* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(./assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.header, .navbar, .nav {
    display: flex;
}
.header {
    justify-content: space-between;
    margin-left: 4rem;
    padding-top: 5vh;
    align-items: center;
}
.navbar {
    width: 60vw;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    background-color: rgba(255, 255, 255, 0.015);
    backdrop-filter: blur(10px);
    height: 6em;
}
.nav{
    color: white;
    text-decoration: none;
    gap: .5vw;
    align-items: center;
    text-transform: uppercase;
    padding: 2.3em .5em;
    transition: transform .2s linear;
}  
.nav:hover {
    transform: scale(1.2);
}

.order {
    font-weight: 700;
}
.nav-name {
    font-weight: 300;
}

.middle-line {
    position: relative;
    height: 2px;
    width: 50vw;
    left: 2vw;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.188);
    border-radius: 2px;
}

/* =============== main ======================= */
main {
    display: flex;
    justify-content:space-between;
    margin: 2vh 10vw 0 7vw;
}
.section-left > img {
    margin-left: 10vw;
}
.subtitle {
    display: flex;
    gap: 1em;
    margin-bottom: 10vh;
    text-transform: uppercase;
}
h2 {
    margin-top: .5em;
    font-size: 1.5rem;
    font-weight: 300;
}
.section-right{
    flex-basis: 40%;
    letter-spacing: .1em;
}
.planet-container {
    display: flex;
    margin-top: 5vh;
    gap: 2em;
}

.planet {
    padding: 1em 0;
    cursor: pointer;
}
.planet-active {
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-thickness: 3px;
}

h1 {
    margin-top: 3vh;
    font-family: 'Cinzel', sans-serif;
    font-size: 7em;
    font-weight: 300;
}
p {
    margin-top: 1em;
    font-weight: 300;
    line-height: 1.8em;
}
.line {
    margin-top: 3vh;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.336);

}
.stats {
    margin-top: 3vh;
    display: flex;
    gap: 3em;
}

.stats h2 {
    font-family: 'Cinzel', serif;
}   
